FROM ghcr.io/astral-sh/uv:{{ uv_version }}-python{{ python_version }}-trixie-slim AS builder

ENV PYTHONUNBUFFERED=1
ENV UV_COMPILE_BYTECODE=1
ENV UV_LINK_MODE=copy

WORKDIR /build

RUN --mount=type=cache,target=/root/.cache/uv \
    --mount=type=bind,source=uv.lock,target=uv.lock \
    --mount=type=bind,source=pyproject.toml,target=pyproject.toml \
    uv sync --locked --no-install-project

RUN --mount=type=cache,target=/root/.cache/uv \
    --mount=type=bind,source=uv.lock,target=uv.lock \
    --mount=type=bind,source=pyproject.toml,target=pyproject.toml \
    uv pip compile --output-file requirements.txt pyproject.toml && \
    pip wheel --wheel-dir /wheelhouse --requirement requirements.txt && \
    rm requirements.txt

COPY . .

RUN --mount=type=cache,target=/root/.cache/uv \
    uv build --wheel --out-dir /wheelhouse

FROM docker.io/library/python:{{ python_version }}-slim-trixie

RUN --mount=from=ghcr.io/astral-sh/uv:{{ uv_version }}-python{{ python_version }}-trixie-slim,source=/usr/local/bin/uv,target=/bin/uv \
    --mount=type=bind,from=builder,source=/wheelhouse,target=/wheelhouse \
    uv pip install --system --no-index --find-links=/wheelhouse {{ project_name_snake_case }}
